/* color choosen from color hunt */

body {
    font-family: "Pacifico", cursive;
    background-color: black;
}

#sel {
    background: #272343;
    border-radius: 100px;
    filter: drop-shadow(0 0 5px #FF0000);
}

.heading {
    color: #bae8e8;
    text-shadow: 0 0 5px chartreuse;
    text-decoration: underline;
    font-size: 60px;
}

.heading:hover {
  color: #bae8e8;
  text-shadow: 0 0 5px rgb(255, 60, 0);
  text-decoration: underline;
  font-size: 60px;
}

.headingxyz {
  color: #bae8e8;
  text-shadow: 0 0 4px rgb(208, 255, 0);
  text-decoration: underline;
  font-size: 40px;
}

.headingxyz:hover {
  color: #bae8e8;
  text-shadow: 0 0 5px rgb(255, 0, 0);
  text-decoration: underline;
  font-size: 40px;  
}

.pomodoro-image {
  margin: 0 50% 60px 45%;
}

.row {
    width: 100%;
}

.timer {
    color: #fff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #fff;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #013cfd;
}

.fa-play , .fa-redo-alt{
    color: #e3f6f5;
    border: 2px solid transparent;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;
    filter: drop-shadow(0 0 10px #013cfd);
}

#comp {
    color: #e3f6f5;
    border: 2px solid transparent;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;
}

.fa-play:hover , .fa-redo-alt:hover {
    color: #bae8e8;
    border: 2px solid burlywood;
    transition: .3s ease;
    /* box-shadow: 0 0 10px #9cfd01; */
    filter: drop-shadow(0 0 5px #9cfd01);
}

#done {
    display: block;
    padding: 1rem 0;
    color: #272343;
    background: #e3f6f5;
    border-radius: 0.5rem;
    transition: 0.5s ease;
    filter: drop-shadow(0 0 5px #013cfd);
  }

  #session {
    padding: 1.5rem 0 1rem 0;
    color: #e3f6f5;
    transition: 0.5s ease;
    font-size: large;
    filter: drop-shadow(0 0 5px #013cfd);
  }

  #session:hover {
    padding: 1.5rem 0 1rem 0;
    color: #e3f6f5;
    transition: 0.5s ease;
    font-size: large;
    filter: drop-shadow(0 0 5px #e4fd01);
  }

  #session_count {
    border-radius: 0.5rem;
    color: #e3f6f5;
    font-size: large;
    background-color: #272343;
    border-color: aliceblue;
    filter: drop-shadow(0 0 5px #013cfd);
  }

  #session_count:hover {
    border-radius: 0.5rem;
    color: #e3f6f5;
    font-size: large;
    background-color: #272343;
    border-color: aliceblue;
    filter: drop-shadow(0 0 5px #e4fd01);
  }

  #input_div {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
  }

  .inphei {
    line-height: 25px;
    font-size: 20px;
  }

  .rowhei {
    line-height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border-color: black;
    margin: 2px 0 2px 0;
  }

  .rowhei:hover {
    line-height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border-color: black;
    filter: drop-shadow(0 0 5px #00ff0d);
  }

  .material-icons{
    color: #fc2802;
    filter: drop-shadow(0px 0px 5px #070707);
    float: right;
  }

  .material-icons:hover {
    color: #ec8e36;
    filter: drop-shadow(0px 0px 10px #cffd01);
  }

  .ulclass {
    border-radius: 10px;
  }

  .inphei {
    filter: drop-shadow(0 0 5px #FF0000);
  }

  .inphei:hover {
    filter: drop-shadow(0 0 5px #c8ff00);
  }